<?xml version="1.0" encoding="UTF-8"?>
<!-- see http://logging.apache.org/log4j/2.x/manual/configuration.html -->
<Configuration status="WARN">
    <!-- use status="TRACE" to get more log4j2 details if need to troubleshoot logging config -->
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <!-- see https://logging.apache.org/log4j/2.x/manual/layouts.html -->
                <PatternLayout pattern="[%c{1.} ] %m%n"/> <!-- class name, method name, message, newline -->
        </Console>
        <!-- this appender writes to a log-tracker I use in the intellij IDE -->
        <!--
        <Socket name="LF5_SOCKET" host="localhost" port="4454" protocol="TCP" reconnectionDelay="5000"/>
        -->
        <Console name="TESTLOG" target="SYSTEM_OUT">
            <PatternLayout pattern="[%c{1.}] %m%n"/> <!-- logger name,  message, newline -->
        </Console>
    </Appenders>

    <!-- levels are TRACE, DEBUG, INFO, WARN, ERROR, FATAL, and OFF in decreasing verbosity-->
    <Loggers>
        <Logger name="TESTLOG" level="info" additivity="false">
            <AppenderRef ref="TESTLOG"/>
        </Logger>
        <!-- TRAFFIC is the <sent body, received class, status> tuple for coverage checking -->
        <Logger name="TESTLOG.TRAFFIC" level="warn" additivity="false">
            <AppenderRef ref="TESTLOG"/>
        </Logger>

        <Logger name="org.ga4gh.ctk" level="warn" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="org.ga4gh.ctk.transport" level="warn" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="org.ga4gh.cts" level="info" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="STDOUT" level="DEBUG"/>
            <!--<AppenderRef ref="LF5_SOCKET" level="DEBUG"/>-->
        </Root>
    </Loggers>

</Configuration>